*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}


body{
    background: linear-gradient(black,#0a0f0a,rgb(47, 53, 42)) ;
    color: #00FF00;
    height: 100vh;
}


h1{
    font-size: 62px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 35px;
}

input{
    margin-top: 10px;
    height: 60px;
    width: 400px;
    background-color: black;
    border: dashed white;
    color: #00FF00;
    font-weight: bold;
    outline: none;
    caret-color: #00FF00;
    padding: 10px 14px;
    border-radius: 20px;
    
    font-size: 15px;
}
